In [2]:
import zipfile
import pandas as pd

## Unzip Cluster Dataset

In [3]:
# Percorso del file ZIP da estrarre
zip_file_path = "real-time clusters/20230101-20240101_real_time_clusters.parquet.zip"

# Percorso della cartella di destinazione per l'estrazione
extract_to_folder = "real-time clusters"

# Aprire il file ZIP
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Estrarre tutto il contenuto nella cartella di destinazione
    zip_ref.extractall(extract_to_folder)

In [3]:
real_time_clusters_df = pd.read_parquet("real-time clusters/20230101-20240101_real_time_clusters.parquet")

In [4]:
real_time_clusters_df

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
0,EFM;63af9dfe2aaf2c000125807a,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:59:01,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
1,EFM;63af9dfec623b40001a5c9cf,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:58:55,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
2,COS1P;136902468,sdh,ad16,2022-12-31 22:19:34,2022-12-31 23:58:46,2023-01-01 00:00:02,alesitaj/ad16/73,ales,2022-12-31 22:19:34,tx,None,202301010000_20,202301010000_2
3,EFM;63b0beaf2aaf2c0001258736,an,lebts,2022-12-31 23:58:55,2022-12-31 23:59:27,2023-01-01 00:00:02,5btsle119,alss,2022-12-31 23:58:55,mob,None,202301010000_9,202301010000_3
4,COS1P;136891403,sdh,oadm,2022-12-31 11:26:16,2022-12-31 23:59:52,2023-01-01 00:00:02,ancoitab/oadm/1,anco,2022-12-31 11:26:16,tx,None,202301010000_21,202301010000_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,EFMTX;6591efb9d7d6bc00019444d8,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:56:43,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
39,EFMTX;6591f046d8beb800016deaef,ptn,ptn3,2023-12-31 23:50:46,2023-12-31 23:57:34,2023-12-31 23:58:02,thesitae/ptn3/1,thes,2023-12-31 23:44:44,tx,None,202312312348_17,202312312344_9
40,EFM;6591f199d4c961000177739d,an,lnbts,2023-12-31 23:56:25,2023-12-31 23:56:37,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
41,EFM;6591f19aba09b0000160c08d,an,lnbts,2023-12-31 23:56:26,2023-12-31 23:57:59,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
42,EFMTX;6591ef19d7d6bc000194445c,sdh,prhu,2023-12-31 23:45:45,2023-12-31 23:57:22,2023-12-31 23:58:02,viarital/prhu/4,viar,2023-12-31 23:45:45,tx,None,202312312358_28,202312312358_14

In [6]:
real_time_clusters_df.columns

Index(['alarm_id', 'network', 'ne_type', 'first_occurrence', 'last_update',
       'data', 'ne_id', 'geo_code', 'min_cluster_first_occurrence', 'domain',
       'link_cluster', 'cluster_id', 'cluster_id2'],
      dtype='object')

In [6]:
clusters = real_time_clusters_df.groupby(["cluster_id", "cluster_id2"])

In [13]:
# Supponiamo che tu abbia un DataFrame raggruppato groupby_df
clusters_filtered = clusters.filter(lambda x: len(x) >= 3)

In [14]:
clusters_filtered

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
12,COS1P;136899249,sdh,ad64,2022-12-31 18:16:45,2022-12-31 23:59:58,2023-01-01 00:00:02,beneital/ad64/2,bene,2022-12-31 18:16:45,tx,None,202301010000_27,202301010000_12
60,EFM;63b0969a2aaf2c0001258652,an,lhbts,2022-12-31 21:07:53,2022-12-31 23:59:01,2023-01-01 00:00:02,8btsme078,furn,2022-12-31 21:07:53,mob,None,202301010000_15,202301010000_53
63,COS1P;136904707,sdh,exc,2022-12-31 23:41:33,2022-12-31 23:59:56,2023-01-01 00:00:02,gorgitaae01/exc/1,gorg,2022-12-31 23:41:33,tx,None,202301010000_79,202301010000_56
64,COS1P;136904709,sdh,exc,2022-12-31 23:41:37,2022-12-31 23:59:59,2023-01-01 00:00:02,gorgitaae01/exc/1,gorg,2022-12-31 23:41:33,tx,None,202301010000_79,202301010000_56
78,COS1P;136904542,sdh,rxm3,2022-12-31 23:19:56,2022-12-31 23:58:46,2023-01-01 00:00:02,momaitac/rxm3/1,moma,2022-12-31 23:19:56,tx,None,202301010000_89,202301010000_67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,EFM;6591ef405795e30001315adb,an,lebts,2023-12-31 23:46:24,2023-12-31 23:56:44,2023-12-31 23:58:03,1btsrm155,romm,2023-12-31 23:46:23,mob,None,202312312352_1,202312312352_14
35,EFMTX;6591ee0801021b00010facb4,adsl,adsl,2023-12-31 23:41:12,2023-12-31 23:57:48,2023-12-31 23:58:02,sassitbn/adsl/100,sass,2023-12-31 23:39:08,tx,None,202312312342_13,202312312340_13
37,EFMTX;6591efb9d7d6bc00019444d6,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:57:14,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
38,EFMTX;6591efb9d7d6bc00019444d8,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:56:43,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
39,EFMTX;6591f046d8beb800016deaef,ptn,ptn3,2023-12-31 23:50:46,2023-12-31 23:57:34,2023-12-31 23:58:02,thesitae/ptn3/1,thes,2023-12-31 23:44:44,tx,None,202312312348_17,202312312344_9

In [15]:
clusters_filtered_grouped = clusters_filtered.groupby(["cluster_id", "cluster_id2"])

In [16]:
clusters_size = clusters_filtered_grouped.size()

In [18]:
clusters_size.sort_values(ascending=False)

cluster_id       cluster_id2
202311261326_16  202311261324_8     514
202311081306_5   202311081306_13    514
202311271242_16  202311271240_34    514
202312161922_20  202312161918_16    514
202312202238_5   202312202238_5     514
                                   ...
202309130456_19  202309130450_5       3
202309130456_16  202309130450_5       3
202309130454_24  202309130454_8       3
202309130452_96  202309130450_5       3
202301010000_15  202301010000_53      3
Length: 1006390, dtype: int64

In [19]:
# Supponiamo che tu abbia un DataFrame raggruppato groupby_df e che tu stia cercando gruppi con almeno 2 'ne_id' unici
clusters_filtered = clusters_filtered_grouped.filter(lambda x: x['ne_id'].nunique() >= 2)

In [20]:
clusters_filtered

Empty DataFrame
Columns: [alarm_id, network, ne_type, first_occurrence, last_update, data, ne_id, geo_code, min_cluster_first_occurrence, domain, link_cluster, cluster_id, cluster_id2]
Index: []

In [28]:
test = real_time_clusters_df[(real_time_clusters_df["cluster_id"] == "202312161922_20") & (real_time_clusters_df["cluster_id2"] == "202312161918_16")]

In [30]:
test

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
45,EFM;657dea652e6a8400010aca95,an,vnbts,2023-12-16 19:20:20,2023-12-16 19:21:46,2023-12-16 19:22:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
46,EFM;657dea652e6a8400010aca96,an,vnbts,2023-12-16 19:20:20,2023-12-16 19:21:45,2023-12-16 19:22:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
47,EFM;657dea652e6a8400010aca97,an,vnbts,2023-12-16 19:20:20,2023-12-16 19:21:46,2023-12-16 19:22:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
48,EFM;657dea652e6a8400010aca98,an,vnbts,2023-12-16 19:20:20,2023-12-16 19:21:45,2023-12-16 19:22:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
49,EFM;657dea652e6a8400010aca99,an,vnbts,2023-12-16 19:20:20,2023-12-16 19:21:45,2023-12-16 19:22:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,EFM;657dead62e6a8400010acc53,an,vnbts,2023-12-16 19:22:02,2023-12-16 19:37:04,2023-12-16 19:38:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
39,EFM;657dead72e6a8400010acc62,an,vnbts,2023-12-16 19:22:02,2023-12-16 19:37:43,2023-12-16 19:38:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
40,EFM;657dead92e6a8400010acc7f,an,vnbts,2023-12-16 19:22:02,2023-12-16 19:37:58,2023-12-16 19:38:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
41,EFM;657deada2e6a8400010acc80,an,vnbts,2023-12-16 19:22:02,2023-12-16 19:37:59,2023-12-16 19:38:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16
42,EFM;657deadb2e6a8400010acc8d,an,vnbts,2023-12-16 19:22:02,2023-12-16 19:37:45,2023-12-16 19:38:03,bbtsvi18d,soss,2023-12-16 19:20:20,mob,None,202312161922_20,202312161918_16

In [29]:
test["ne_id"].unique()

array(['bbtsvi18d'], dtype=object)

In [31]:
clusters_ne_id = real_time_clusters_df.groupby(["cluster_id", "cluster_id2"])["ne_id"].unique()

In [32]:
clusters_ne_id

cluster_id        cluster_id2
202301010000_1    202301010000_33           [1btsbs108]
202301010000_10   202301010000_133          [7btsts033]
202301010000_100  202301010000_78     [orbeitaj/ad64/3]
202301010000_101  202301010000_78     [orbeitar/ad16/1]
202301010000_102  202301010000_77     [orbeitbq/ad16/1]
                                            ...
202312312358_5    202312312354_5            [7btspr155]
202312312358_6    202312312354_5            [7btspr159]
202312312358_7    202312312354_5            [7btspr15f]
202312312358_8    202312312354_7            [7btsre014]
202312312358_9    202312312354_7            [7btsre034]
Name: ne_id, Length: 6369401, dtype: object

In [34]:
# Supponiamo che tu stia cercando array con piÃ¹ di un elemento in clusters_ne_id
clusters_with_multiple_ne_id = clusters_ne_id[clusters_ne_id.apply(lambda x: len(x) > 1)]

In [35]:
clusters_with_multiple_ne_id

Series([], Name: ne_id, dtype: object)

In [33]:
real_time_clusters_df

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
0,EFM;63af9dfe2aaf2c000125807a,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:59:01,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
1,EFM;63af9dfec623b40001a5c9cf,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:58:55,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
2,COS1P;136902468,sdh,ad16,2022-12-31 22:19:34,2022-12-31 23:58:46,2023-01-01 00:00:02,alesitaj/ad16/73,ales,2022-12-31 22:19:34,tx,None,202301010000_20,202301010000_2
3,EFM;63b0beaf2aaf2c0001258736,an,lebts,2022-12-31 23:58:55,2022-12-31 23:59:27,2023-01-01 00:00:02,5btsle119,alss,2022-12-31 23:58:55,mob,None,202301010000_9,202301010000_3
4,COS1P;136891403,sdh,oadm,2022-12-31 11:26:16,2022-12-31 23:59:52,2023-01-01 00:00:02,ancoitab/oadm/1,anco,2022-12-31 11:26:16,tx,None,202301010000_21,202301010000_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,EFMTX;6591efb9d7d6bc00019444d8,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:56:43,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
39,EFMTX;6591f046d8beb800016deaef,ptn,ptn3,2023-12-31 23:50:46,2023-12-31 23:57:34,2023-12-31 23:58:02,thesitae/ptn3/1,thes,2023-12-31 23:44:44,tx,None,202312312348_17,202312312344_9
40,EFM;6591f199d4c961000177739d,an,lnbts,2023-12-31 23:56:25,2023-12-31 23:56:37,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
41,EFM;6591f19aba09b0000160c08d,an,lnbts,2023-12-31 23:56:26,2023-12-31 23:57:59,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
42,EFMTX;6591ef19d7d6bc000194445c,sdh,prhu,2023-12-31 23:45:45,2023-12-31 23:57:22,2023-12-31 23:58:02,viarital/prhu/4,viar,2023-12-31 23:45:45,tx,None,202312312358_28,202312312358_14