In [2]:
import zipfile
import pandas as pd

In [3]:
# Percorso del file ZIP da estrarre
zip_file_path = "real-time clusters/20230101-20240101_real_time_clusters.parquet.zip"

# Percorso della cartella di destinazione per l'estrazione
extract_to_folder = "real-time clusters"

# Aprire il file ZIP
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Estrarre tutto il contenuto nella cartella di destinazione
    zip_ref.extractall(extract_to_folder)

In [3]:
real_time_clusters_df = pd.read_parquet("real-time clusters/20230101-20240101_real_time_clusters.parquet")

In [5]:
real_time_clusters_df

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
0,EFM;63af9dfe2aaf2c000125807a,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:59:01,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
1,EFM;63af9dfec623b40001a5c9cf,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:58:55,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
2,COS1P;136902468,sdh,ad16,2022-12-31 22:19:34,2022-12-31 23:58:46,2023-01-01 00:00:02,alesitaj/ad16/73,ales,2022-12-31 22:19:34,tx,None,202301010000_20,202301010000_2
3,EFM;63b0beaf2aaf2c0001258736,an,lebts,2022-12-31 23:58:55,2022-12-31 23:59:27,2023-01-01 00:00:02,5btsle119,alss,2022-12-31 23:58:55,mob,None,202301010000_9,202301010000_3
4,COS1P;136891403,sdh,oadm,2022-12-31 11:26:16,2022-12-31 23:59:52,2023-01-01 00:00:02,ancoitab/oadm/1,anco,2022-12-31 11:26:16,tx,None,202301010000_21,202301010000_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,EFMTX;6591efb9d7d6bc00019444d8,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:56:43,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
39,EFMTX;6591f046d8beb800016deaef,ptn,ptn3,2023-12-31 23:50:46,2023-12-31 23:57:34,2023-12-31 23:58:02,thesitae/ptn3/1,thes,2023-12-31 23:44:44,tx,None,202312312348_17,202312312344_9
40,EFM;6591f199d4c961000177739d,an,lnbts,2023-12-31 23:56:25,2023-12-31 23:56:37,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
41,EFM;6591f19aba09b0000160c08d,an,lnbts,2023-12-31 23:56:26,2023-12-31 23:57:59,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
42,EFMTX;6591ef19d7d6bc000194445c,sdh,prhu,2023-12-31 23:45:45,2023-12-31 23:57:22,2023-12-31 23:58:02,viarital/prhu/4,viar,2023-12-31 23:45:45,tx,None,202312312358_28,202312312358_14

In [6]:
real_time_clusters_df.columns

Index(['alarm_id', 'network', 'ne_type', 'first_occurrence', 'last_update',
       'data', 'ne_id', 'geo_code', 'min_cluster_first_occurrence', 'domain',
       'link_cluster', 'cluster_id', 'cluster_id2'],
      dtype='object')

In [12]:
num_of_link_clusters_not_None = real_time_clusters_df[real_time_clusters_df["link_cluster"].notnull()].shape[0]
print("Number of link cluster: " + str(num_of_link_clusters_not_None))

Number of link cluster: 209817

## Extract Cluster from Datasets

In [7]:
gruppi = real_time_clusters_df.groupby(['cluster_id', 'cluster_id2'])
clusters = []

# Itera sui gruppi e salva i cluster in una nuova struttura dati
for nome_gruppo, gruppo in gruppi:
    clusters.append(gruppo)

In [24]:
gruppi_count = gruppi.size().reset_index(name='size')

In [25]:
gruppi_count.sort_values(by="size", ascending=False)

              cluster_id      cluster_id2  size
6203836   202312202238_5   202312202238_5   514
5209444  202311051440_21   202311051440_4   514
5484706   202311170942_4  202311170926_16   514
5701559  202311271242_16  202311271240_34   514
5679711  202311261326_16   202311261324_8   514
...                  ...              ...   ...
2561381  202307070750_12   202307070750_8     1
2561380  202307070750_11  202307070744_15     1
2561379  202307070750_10  202307070744_15     1
2561378   202307070750_1   202307070750_6     1
6369400   202312312358_9   202312312354_7     1

[6369401 rows x 3 columns]

## Clusters Statistics

- Size: number of alarms within it
- Duration/lifespan: difference in time from the last last occurrence to the first first occurrence
- Delta first occurrence: distance between the last available first occurrence and the first ever first occurrence