In [1]:
import pandas as pd

In [3]:
clusters_with_slogans = pd.read_parquet("real-time clusters/clusters_with_slogans.parquet")

In [2]:
alarms = pd.read_parquet("alarms datasets/alarms.parquet")

In [9]:
alarms_with_slogan = pd.read_parquet("alarms datasets/alarms_slogan.parquet")

In [4]:
clusters_with_slogans

,alarm_id,cluster_id,cluster_id2,slogan
0,EFM;63af9dfe2aaf2c000125807a,202301010000_3,202301010000_1,None
1,EFM;63af9dfec623b40001a5c9cf,202301010000_3,202301010000_1,None
2,COS1P;136902468,202301010000_20,202301010000_2,None
3,EFM;63b0beaf2aaf2c0001258736,202301010000_9,202301010000_3,None
4,COS1P;136891403,202301010000_21,202301010000_4,apparato isolato
...,...,...,...,...
13123609,EFMTX;6591efb9d7d6bc00019444d8,202312312350_16,202312312350_13,guasto ima
13123610,EFMTX;6591f046d8beb800016deaef,202312312348_17,202312312344_9,oamloc locv
13123611,EFM;6591f199d4c961000177739d,202312312358_1,202312312358_13,None
13123612,EFM;6591f19aba09b0000160c08d,202312312358_1,202312312358_13,None
13123613,EFMTX;6591ef19d7d6bc000194445c,202312312358_28,202312312358_14,lof

In [5]:
clusters = pd.read_parquet("real-time clusters/20230101-20240101_real_time_clusters.parquet")

In [6]:
clusters

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
0,EFM;63af9dfe2aaf2c000125807a,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:59:01,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
1,EFM;63af9dfec623b40001a5c9cf,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:58:55,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
2,COS1P;136902468,sdh,ad16,2022-12-31 22:19:34,2022-12-31 23:58:46,2023-01-01 00:00:02,alesitaj/ad16/73,ales,2022-12-31 22:19:34,tx,None,202301010000_20,202301010000_2
3,EFM;63b0beaf2aaf2c0001258736,an,lebts,2022-12-31 23:58:55,2022-12-31 23:59:27,2023-01-01 00:00:02,5btsle119,alss,2022-12-31 23:58:55,mob,None,202301010000_9,202301010000_3
4,COS1P;136891403,sdh,oadm,2022-12-31 11:26:16,2022-12-31 23:59:52,2023-01-01 00:00:02,ancoitab/oadm/1,anco,2022-12-31 11:26:16,tx,None,202301010000_21,202301010000_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,EFMTX;6591efb9d7d6bc00019444d8,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:56:43,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
39,EFMTX;6591f046d8beb800016deaef,ptn,ptn3,2023-12-31 23:50:46,2023-12-31 23:57:34,2023-12-31 23:58:02,thesitae/ptn3/1,thes,2023-12-31 23:44:44,tx,None,202312312348_17,202312312344_9
40,EFM;6591f199d4c961000177739d,an,lnbts,2023-12-31 23:56:25,2023-12-31 23:56:37,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
41,EFM;6591f19aba09b0000160c08d,an,lnbts,2023-12-31 23:56:26,2023-12-31 23:57:59,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
42,EFMTX;6591ef19d7d6bc000194445c,sdh,prhu,2023-12-31 23:45:45,2023-12-31 23:57:22,2023-12-31 23:58:02,viarital/prhu/4,viar,2023-12-31 23:45:45,tx,None,202312312358_28,202312312358_14

In [7]:
alarms

                              alarm_id     last_occurrence
0         EFM;63b098b01a65d200011620f8 2022-12-31 23:37:41
1         EFM;63b0b476c623b40001a68b45 2022-12-31 23:20:09
2         EFM;63b0b5a8c623b40001a68b9b 2022-12-31 23:20:49
3         EFM;63b0b5c6c623b40001a68ba2 2022-12-31 23:23:09
4         EFM;63b0b675c623b40001a68c03 2022-12-31 23:32:15
...                                ...                 ...
805948  EFMTX;6483fbf332d3d9000193e3a2 2023-12-31 23:59:14
805949  EFMTX;64c92bbe008e1d0001c7ff49 2023-12-31 23:59:14
805950  EFMTX;65661efc590d4500011934d1 2023-12-31 23:59:14
805951  EFMTX;6591f1b6975f5100015a48b6 2023-12-31 23:56:53
805952  EFMTX;658f5efad7d6bc0001921429 2023-12-31 23:59:05

[49966959 rows x 2 columns]

In [15]:
# Supponiamo che tu voglia selezionare la colonna 'nome_colonna' del DataFrame df
column = alarms_with_slogan['slogan']

In [18]:
len(column.unique())

21536

In [19]:
colonne = clusters_with_slogans['slogan']

In [21]:
len(colonne.unique())

92